# Flutter / Dart
.dart_tool/
.packages
build/

# Platform-specific
ios/Pods/
android/.gradle/
android/local.properties

# Firebase Functions
firebase/functions/node_modules/
firebase/functions/lib/
firebase/functions/.cache/

# Misc
.DS_Store
*.iml
.idea/
.vscode/
